{% extends 'base.html' %}

{% block title %}
    Department Page
{% endblock title %}

{% block content %}
<table class="table">
    <thead>
      <tr>
        
        <td><a href="/details_dep/1">แผนกจัดซื้อ</a></td>
      </tr>
      <tr>
        
        <td><a href="/details_dep/2">แผนกจัดหาลูกค้า</a></td>
      </tr>
      <tr>
        
        <td><a href="/details_dep/3">แผนกบริการหลังการขาย</a></td>
      </tr>
    </thead>
    <tbody>
      
    </tbody>
  </table>
{% endblock content %}