{% extends 'base.html' %}

{% block title %}
    Home Page
{% endblock title %}

{% block content %}
<table class="table">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">ชื่อ</th>
        <th scope="col">นามสกุล</th>
        <th scope="col">ระดับการศึกษา</th>
        <th scope="col">แผนกงานที่สังกัด</th>
      </tr>
    </thead>
    <tbody>
        {% for emp in emps %}
        <tr>
            <th scope="row">{{ forloop.counter }}</th>
            <td><a href="{% url 'details' emp.id %}"> {{emp.first_name}}</a></td>
            <td>{{emp.last_name}}</td>
            <td>{{emp.edu_str}}</td>
            <td>{{emp.dep}}</td>
        </tr>
        {% endfor %}
    </tbody>
  </table>
{% endblock content %}